[2014-02-13 16:20] EslaMx7 opened #1 "the specified network name is no longer available Exception with HttpListener"

[2014-06-29 05:54] ccant opened #3 "Help me to be fast"
hello friend, greetings from Brazil, Rio de Janeiro.

I'm using the app to transmit my image received my TwitCasting to my home network. I really need the refresh rate is faster but the application is limited to 100ms ... is this normal?

I would like to configure to 0ms or 1ms. You can help me?

a hug from his brothers from Brazil and congratulations for programs that do, they have a code quality

[2014-08-17 23:03] fabiopy opened #4 "Position of tracker on viewers screen is not exact"
Hello
I am testing screen task. I have tried sharing my screen to a couple of pcs and ipads in my network and they all present this issue.

The tracker (mouse) on the viewer's screen does  not match the position on my screen. It is always about 2cm to the left and a bit up (around 10 oclock 2 cm away). Is there any way to make the tracker's position accurate. It is completely relevant when you are

[2014-10-13 13:36] SGi99 opened #5 "Multi screen / viewport selection"
I tested ScreenTask and love it for its simplicity.

However, there is a difference when selecting or de-selecting "Capture Mouse Pointer" when used in a multi-monitor environment, because it also changes the display behaviour:

 -unchecking this option will only transfer the main screen from the server side
- checking it will transfer all of them side by side (as an extended desktop)

Is there a

[2014-10-29 16:35] HoffmannP opened #6 "New client website"
Hy, I completely rewrote the client/website
You can get if from my repository http://github.com/HoffmannP/ScreenTask which is a fork of the java-version of ScreenTask by @ahmadomar. (Which is why I did not open a pull request for you rep).

[2014-12-15 18:06] Tendoncs opened #7 "Firewall open port"
New to the Git Stuff I will have to figure out how to make a new branch and update code there. But I found this bug. The software does not close the port it opens when it stops the server.

I created a DeleteFirewallRule

[code]

Added a call to it in the btnStartServer.Tag check.

[code]

[2014-12-15 19:03] Tendoncs opened #8 "Feature Requests: Looking at helping you update"
I messages you on twitter. I love this program, It was a great little program to itch a scratch but it was not a perfect fit. I love your outlook "I love making simple things with great impact". That is my look on things to. Many people want to make everything do everything.

I am incharge of metrics display at my company. The processing of the data is taking more and more cpu so I want to have 1

[2014-12-16 00:44] Tendoncs opened #9 "Bug Capture Mouse Pointer"
When Check Capture mouse pointer you get dual screen capture. When however when it is not selected you only get one monitor.

[2014-12-22 18:52] Tendoncs opened #10 "Networking issue"
Was unable to pull up the site on larger networks.
Would not ping and could not pull up the site.

[2014-12-22 18:52] #10 closed, assigned to nobody

[2014-12-22 20:00] Tendoncs opened #11 "Full Screen issue"
the website has an issue in full screen depending on your screen Resolution.

example:
1920 x 1080 has issue going full screen
1280 x 720 works fine.

On some resolutions if you zoom it it will fix it.

![full screen screen](https://cloud.githubusercontent.com/assets/8644130/5530171/ce0868f2-89d1-11e4-82f7-02d80a8f20cc.png)

[2015-02-13 22:45] Cadcam62 commented on #8
Hello, Tendoncs! Thank You for compiling our wishes in right way! The program is indeed very interesting... We neeeeeeed it to grow and become smarter!
Author, PLEASE... do not stop this project.

[2015-03-25 21:46] Tendoncs commented on #6
When using the website on firefox 33, The latest version for Linux ubuntu (lxde) on raspberry pi the image blinks. it soulds like something like this. https://bugzilla.mozilla.org/show_bug.cgi?id=705826

[2015-03-25 22:08] Tendoncs commented on #6
Looks to be an issue with not buffering the image before it is loaded and switched. It looks to be trying to switch the image as it loads it into memory. I am looking into it now.

[2015-04-09 19:57] rwelton83 opened #12 "Screen capture stops"
I love this tool. It works great for a few minutes, unfortunately the .jpg stops updating after several minutes. If I stop and restart the server it will come back. Any ideas? I am running Windows Server 2008 R2 and .Net 4.5.2.

[2015-04-10 08:59] EslaMx7 commented on #12
Thank you @rwelton83 for your feedback,
could you provide more logs or detailed scenarios that makes this error ?

[2015-04-10 20:32] rwelton83 commented on #12
Thank you for your reply. This happens consistently every time. I'll start
the server and after 2-3 minutes it will simply stop updating the .jpg
file. If I stop and restart the server it will repeat the same scenario.
What log files would be helpful for you to see? I've looked through the
Windows Application and System logs and haven't found anything that appears
related.

On Fri, Apr 10, 2015 at

[2015-05-21 13:40] cjrobe opened #13 "Set default IP, start server at launch, run in background"
Screen task works excellently, but I feel with a few more options would take it to the next level.

Right now it always defaults to localhost, I'm not sure what use that is. I would like to be able to set it to default to wi-fi.

Also, it would be nice to have it be able to start the server as soon as the program is opened.

Further, it would be excellent if ScreenTask could start and stay in the

[2015-05-21 13:47] EslaMx7 commented on #13
Thank you for your feedback, i really appreciate that.
here you are the good news i have add all the features you asked even more to the next version of the application.
i'm still working on it nowadays, but i have final exams soon, so i promise version 2 will be available in the next 2 months.
in case you want those changes urgently for your work we could communicate for building a quick custom v

[2015-05-21 14:12] cjrobe commented on #13
That's great to hear, thanks for the update! I would like to have those features sooner, but it's not a necessity if it's much work for you.

Btw, I found your software via this article:
http://www.addictivetips.com/windows-tips/screentask-share-pc-screen-with-any-computer-over-wifi-lan/

[2015-05-31 20:55] Mart3n opened #14 "Is it possible te add Audio?"
Hi Eslam, i love your simple and effective little program. I'm using it to "broadcast" internal standings at our sports events over the network. Just every unit with browser connected to the network can display this standings and unlikely other programs, not over the internet!

I'm just missing one thing in this broadcast: audio

Maybe there is a workaround to add audio on a networkstream, but is

[2015-05-31 21:09] EslaMx7 commented on #14
Hi @Mart3n ,
Thank you for your feedback, i appreciate your words.
adding the audio feature will be great, i promise i have added it to the features-list of the upcoming version of this application with 2 months, as I'm having final exams this days.

the next version will have a lot of AMAZING features comes form users feedback like you, so please follow up with me, and check for the next version

[2015-06-10 11:18] ahmadomar commented on #6
@Tendoncs  we will check it using another changes :+1:

[2015-07-31 08:36] gswebspace opened #15 "Allow Rotation for +90 or -90 Degrees to see it on Kindle"
This is a Feature Request for Rotation and can be very helpful.

I am trying to display my computer screen on my e-ink display(kindle) to use it as a Text Editor for programming(as an alternative to the conventional LCD monitors).

Unfortunately the Kindle browser does not support the "Full Screen"  Mode and neither has the ability to go into "Landscape" Mode(like android devices).

As the Kindle'

[2015-08-01 07:29] EslaMx7 commented on #15
added to the To-do list of the next version. Thank you.

[2015-08-01 07:29] #15 closed

[2015-08-06 19:30] manuelsongokuh opened #16 "where i can download linux?"
hello

i really wish to try and test it!!
but i cant download...where i can download?

[2015-08-06 19:36] manuelsongokuh opened #17 "it's possible convert to Qt?"
java is sure? maybe best use to Qt?
i ask question only ok?

[2015-08-06 19:49] EslaMx7 commented on #16
you can download the Java version from here : https://github.com/ahmadomar/ScreenTask/blob/master/ScreenTaskGeneric.zip?raw=true

Extract the archive and run the jar file.

[2015-08-06 19:49] EslaMx7 commented on #17
what is the point of the question ?
in case you need a cross platform version , here you are : https://github.com/ahmadomar/ScreenTask

[2015-09-02 07:13] baatarmn commented on #11
Yes, it is very important issue the developers should consider.

[2015-10-15 03:09] jordo1138 opened #19 "screentask running from an rdp session"
hi, love screentask, quick issue though that I've been having is that when I run this from inside of an RDP session to a windows server 2008r2, the port 80 will stay open and update images 100% as long as i stay connected to the rdp session. If i disconnect, the 80 site still running fine, but the images stop updating...any thoughts?

[2015-10-15 03:19] EslaMx7 commented on #19
This is very interesting case, will investigate that issue and come back to you.
*if you could provide more technical details and screenshot of the problem would be more appreciated.*
Thank you very much for your feedback hope you enjoyed the app.

[2015-10-15 03:28] EslaMx7 commented on #19
@jordo1138
here you are the origin of the issue :
http://serverfault.com/questions/482352/take-screenshot-from-server-screen-while-disconnected-from-rdp
when RDP disconnected user logged out and there are no Desktop to capture, so you may want to do a trick for keeping the user logged in after closing the RDP session.
http://serverfault.com/questions/205902/how-to-keep-user-logged-in-when-disconne

[2015-10-15 05:39] jordo1138 commented on #19
@EslaMx7 thanks, that did the trick...key is for win2k8r2 need to start rdp with /admin otherwise the disconnect command for the tscon /dest:console still fails...
I noticed it changes the resolution in console mode to 640x480 and seems there are some suggestions using vnc or some program like qres to fix that...i tried running qres after disconnecting but doesn't seem to like it... if anyone has

[2015-10-15 05:39] #19 closed

[2016-02-10 09:34] Alexv15310 opened #20 "Addition possibility to select the screens (multiscreen)"
It will be great if in future you add possibility to select the screen (main or second) to broadcasting (f.ex. when the video projector is connected to laptop).
It will be very usefull for university - students will see teacher's presentation (shown on second screen of laptop) on their tablets in any browser via wifi.

[2016-02-29 21:21] fcy381 opened #21 "ScreenTask over internet?"
Hello. Is possible that ScreenTask run over internet?. Thanks.

[2016-04-28 16:26] vedranius commented on #3
Hi,
I've tried changing the line as you described, but I'm still not getting the smooth refresh, and it's definitely not 1ms.
What to do? Can you post the binary with that working?
Also, what about the audio?
Thanks!

[2016-06-13 14:05] l33l00l4 commented on #3
Chek it.
Update interval = 10ms
https://github.com/l33l00l4/ScreenTask/blob/cd4300213fb8341c0ef2ceca21218e03d533555f/ScreenTask.exe?raw=true

[2016-08-05 09:14] RuvenG opened #22 "ScreenTask deployment: ‘Your Administrator Has Blocked This Program’"
Hello,

so I was looking at different desktop-sharing programs recently and stumbled across ScreenTask.
ScreenTask is exactly what I was looking for and it is great in every way, but i have a little problem.

I need to deploy it to Windows8.1 Systems over SCCM. I used the Zip-Standalone Version for it and everythings was fine so far. For me (an admin) everything worked perfectly, it is however not

[2016-08-05 11:33] EslaMx7 commented on #22
Hello @RuvenG  ,

Thanks for your feedback, i appreciate it so much, and hope you are enjoying using the app.

IMHO, i guess the problem is concerned with the normal user permissions on your domain, the application itself must be run as administrator in normal cases to get full access to some windows functionality like opening sockets and listening on ports, etc..., so this is mandatory for the ap

[2016-09-30 15:53] Capoeirista commented on #21
Join. Can program do it?

[2016-09-30 16:22] EslaMx7 commented on #21
@fcy381 @Capoeirista : YES, it can be work over the internet, check this the line 92 : https://github.com/EslaMx7/ScreenTask/blob/master/ScreenTask/frmMain.cs#L92
uncomment this line and rebuild the project, and make sure to enable the port in your firewall and configure the port forwarding in your router if needed.

Regards.

[2016-11-23 17:49] Mart3n commented on #14
Hi Eslam,

still loving your little program! But still missing the audio ;-)

Greetings,
Marten

[2016-12-03 14:26] dady16 commented on #5
Hello guys,

I need this updated package (fo multi screens), unfortunately the mega's link is dead, can you please share it and with me ?

Regards,

[2016-12-03 15:47] EslaMx7 commented on #5
@dady16

[Download Link](https://goo.gl/EEJX5u) has been updated, Check it again 😉

Regards,
Eslam

[2016-12-03 20:04] dady16 commented on #5
Thank you for your fast reply, good job

2016-12-03 16:47 GMT+01:00 Eslam Hamouda <notifications@github.com>:

--
"THE EYES OF OTHERS ARE OUR PRISONS; THEIR THOUGHTS ARE OUR CAGES"

[2017-01-27 10:45] Motostrelok commented on #13
Hello,

When a new version is released?
I think that's great idea. When the program starts set default IP and start server at launch.

[2017-01-27 11:33] EslaMx7 commented on #13
@Motostrelok Thank you for your feedback, I'm currently working on a new optimized version with a lot of features including the configurations for what you asking for, but it takes some time to test the functionality for cross-platform compatibility, I expect to release a beta version within the next month.

[2017-02-02 16:30] TheBricktop commented on #13
Great news

[2017-02-21 10:52] esk2017 commented on #21
Hi EslaMx7 How do I change line 92
//serv.Prefixes.Add("http://*:" + numPort.Value.ToString() + "/"); // Uncomment this to Allow Public IP Over Internet.
Brgds

[2017-03-23 08:30] Motostrelok commented on #13
I got it. But, i have one problem =) How to automatically choose the right adapter from the list. Example: notebook with wifi adapter.

[2017-07-17 20:40] Ludovit1965 commented on #13
Great work Eslam!!  I too, along with several others obviously, am waiting the next release with auto IP, and autostart.  Do you have an updated time frame?
Thanks

[2017-08-08 23:24] SERGIOITA opened #23 "DESKTOP IS CROPPED"
Hi I started to use ScreenTask but mi desktop (1920x1080) is cropped on the tablet browser, both right side and bottom. A big part of screen is not visible, even in the Preview window
![image](https://user-images.githubusercontent.com/30848091/29098765-685685c8-7ca1-11e7-92e0-b9108d7f5a00.png)

[2017-09-16 14:07] acesTech commented on #23
The issue is caused by Windows 10 scaling. Go to display settings and set scale and layout to 100% as a workaround.

[2017-09-16 14:09] EslaMx7 commented on #23
@acesTech Thank you very much for your help, @SERGIOITA could you confirm if the problem solved?

[2017-09-16 14:26] EslaMx7 opened #24 "Does anyone interested in a new modern version ?"
**Hello**,

Thank you all for using this application, it's been more than _**4 years**_   since the first version, I hope you enjoyed using it, I truly appreciate every single feedback from you.

I've learned a lot since then, and I was thinking if I could improve the idea much more.

Do you think that the idea of this application needs to be re-written in a new modern professional way?

I want to

[2017-09-16 15:34] SERGIOITA commented on #23
I confirm, is solved.

Many Thanks

Da: Eslam Hamouda [mailto:notifications@github.com]
Inviato: sabato 16 settembre 2017 16:10
A: EslaMx7/ScreenTask <ScreenTask@noreply.github.com>
Cc: SERGIOITA <sergio.grati@libero.it>; Mention <mention@noreply.github.com>
Oggetto: Re: [EslaMx7/ScreenTask] DESKTOP IS CROPPED (#23)

@acesTech <https://github.com/acestech>  Thank you very much for your help, @SERG

[2017-09-16 18:46] #23 closed

[2017-09-18 05:31] Galenvan commented on #24
I would really like a new version of this application.  It would be great if there was an option to send the mouse position and clicks to the machine running ScreenTask for remote control.  I'd like for the option to use it over the Internet to be standard.  (I have seen that feature in the Issues section - Issue #24 to be exact - and was going to try to get someone to compile the necessary code f

[2017-10-03 10:52] acesTech commented on #24
A new version would be awesome! I use your application every day in my computer lab and would love to see some new features.

[2017-10-11 22:53] 15w34r0n3D4y commented on #24
Good tool, still works tested on Win7, thank you.

[2017-10-13 02:06] i36 commented on #24
A new version would be amazing!Addition possibility to select the screens (multiscreen)  and addition possibility to select area of the screen!AND add  language file in English so I can try to translate it into Chinese.I'm not a developer but a user,so my ability to read code is limited.BEST WISHS!

[2017-10-13 14:00] masterxavierfox commented on #24
Yes please especially one with option to select multiple screens to cast to. Great software btw.

[2017-10-21 03:09] KodexKy commented on #24
Yes please.

[2017-12-09 02:27] kgnsflint96 commented on #24
Yes, I would be interested. Specifically, if you could create a video wall that could show all of the desktops your client is viewing. You could then click on specific screens to view fullscreen as needed. This would be great for help desks to watch users in classroom settings.

[2017-12-14 19:07] hdelei commented on #24
Yeah, you did a great job. I think we could use the images to turn into some kind of stream protocol to send to the recording servers as DVR. Thus, users can record screen activities for audit purposes.

[2017-12-17 20:22] excellentworth commented on #24
This project has been very helpful, however as another issue reported what would make this ideal would be to add the following 3 features to on startup  Set default IP and port, start server at launch, run in background.  Ideally I would like to run this application as a service.

[2018-01-08 05:08] samysousa commented on #24
Absolutely. A local realtime streaming server would be amazing.
Something that can stream to VLC or KODI.
Protocol wise, internal to network, anything goes even RTSP or RTP could be used.

[2018-02-06 12:38] kahaal commented on #24
Yes it's a great application, but several improvement could make it greater.

I work for a small NGO
our project are focused on Education Improvement at Madagascar, using ICT (computers in schools)
there Internet is available but too much expensive for the schools, so computers are only on a local network.

teachers use screentask to broadcast powerpoint presentation to students computers and it's

[2018-02-24 12:02] gsix14 commented on #24
Yes a new version would be great. I have an issue where the fullscreen view is cropped at the top.

[2018-03-12 22:07] ebube4im commented on #20
Hey, I am a Newbie. Though this particular suggestion of multi screen was what I was thinking after going through the project

[2018-03-12 22:09] ebube4im commented on #24
Hey, I am a Newbie here. I guess a new version will be cool. I really would love to see the Multi screen already raised in the issue section. Looking forward to getting on with the project

[2018-03-13 05:19] Alexv15310 commented on #24
Yes, sure !

[2018-03-13 05:31] Alexv15310 commented on #20
Hello. Is it possible to add the choice of the screens (main or second) to broadcast through LAN, because now there are choice between main or main + second screens ?

[2018-06-20 18:03] Myusuf05 opened #26 "more fps"
please increase fps. show me how to, if its quick or add Option to set time between screenshots to around 30ms. Else app is working exactly what it was designed for. thank you very much

[2018-09-30 08:13] swatians opened #27 "ScreenTask Request with Local Area Network LAN"
Dear Mr.Eslam Hamouda,

I would like to congrats for the great work. I am using your screentask app for remote viewing the remote computer with local network
is not showing the realtime display. Please try to assist me on this issue.

I am looking forward  to hearing from you soon.

Thanks & Regards,
Haidar

[2018-10-09 10:27] dave1901 opened #28 "Displaying a window rather than the entire screen"
I have a rather unusual set up.  I have 3 screens.  On two of them is two full screened windows displaying two different graphs which are being updated live.  On the third is some other windows which are unimportant.  At the moment, if I use the ScreenTask application it tries to show all 3 screens at the same time creating a very squished and distorted output.  Instead, I would like it to either

[2018-10-09 10:41] EslaMx7 commented on #28
Currently, you can only select one screen to show, using this custom version [download here](https://drive.google.com/open?id=0B0N1RNHlJuyVLWxVSjZ1X2FCVEk)
I think you can open multiple instances of the application and start it with different port for each screen,
but you have suggested a nice feature I will add it to my backlog for the next version of this app.

[2018-10-11 08:05] dave1901 commented on #28
Thanks for your help.  I downloaded the Custom version and tried sending it through two different ports.  However, the program fails when I run two instances of the application because both are trying to access 'ScreenTask.jpg'.  I assume I would need to modify the code a little so that having two of the same application running doesn't cause them to clash, but I'm not 100% sure how to do that.

I

[2018-10-11 10:32] dave1901 commented on #28
Ah the Display switcher does work, you just have to have 'Capture Mouse Pointer' selected.

[2018-10-11 11:02] EslaMx7 commented on #28
@dave1901 Cool, good to know that you made it to work, for now, you can just clone the application folder into another location and open it with the different port so you can have two instances running without the `ScreenTask.jpg` problem. and keep me updated.

[2018-10-15 15:43] dave1901 commented on #28
Hey,
It still crashes instantly when I open up a second instance of ScreenTask, even when I clone it to a different folder, and try to change the port number.  I may be doing is wrong.

I've downloaded it all into Visual Studio and am slowly trying to modify the code to send two (of my three) screens to different urls at the same time.
________________________________
From: Eslam Hamouda <notifica

[2018-10-29 13:20] arherva opened #29 "mscorlib error on triggering the start server"
System.TypeLoadException: Could not load type 'System.Runtime.CompilerServices.IAsyncStateMachine' from assembly 'mscorlib, Version=4.0.0.0, Culture=neutral,

I found lots of replies on Google to what I think are similar problems... I won't post here, because I don't understand enough about the issue to know if they are relevant.

[2019-03-20 16:51] elamperti commented on #23
This doesn't solve the issue for me, I need to keep the scaling as it is in the source display. Why can't it take the whole display regardless of the _scale and layout_ setting?

[2019-04-14 19:59] Mtayyab444 commented on #5
Sir, I need c# code for this app with modification where server monitor different client screen like security cameras monitoring, I want  computer lab monitoring app run in same network. Not in browser.
I use rdp session that create link and client use this link and server  side screen broadcasted to client side. But I need multiple screen shows on server side connection with the help of ip/port o

[2019-04-26 07:49] balhaija commented on #24
yes, diffidently. I am new to this but I think you are great in solving this problem

[2019-05-21 06:51] cr500 commented on #24
Check scale & Layout on windows 10. make sure 100%

[2019-05-21 06:52] cr500 commented on #26
10MS FILE
https://github.com/l33l00l4/ScreenTask/blob/cd4300213fb8341c0ef2ceca21218e03d533555f/ScreenTask.exe?raw=true

[2019-06-17 10:46] J5WYATT commented on #5
This fix dosn't seam to work - as which every display i chose - it still only shows my default display.

[2019-06-25 06:17] batsword opened #30 "not smooth enough"
can it be rated like 'teamviewer'?
It doesn't look smooth enough.

[2019-07-10 18:24] markeoff opened #31 "Spelling"
Hey! No real issues, but some basic maintenance items. I've noticed several spelling errors that should be easy to fix. Specifically:

mellisecond > millisecond
stoped > stopped
successfuly > successfully

Enjoying using the program!

[2019-08-21 12:56] Sasa2108 commented on #13
Hi,
Really like the app, quite easy to use.
But i've seen that there have been requests, regarding the "default IP" setting etc. a while ago. I'm looking for the same feature.
Is there a newer version available or when will it be?
Br

[2019-09-10 07:09] cr500 commented on #28
Run Two ST Instances for each display, different Port.
Install 1- Original ST on Apache Web Server with ST on Root Folder.  PORT 90
Edited HTML so Click on Image Goes to /*NAME*

2nd Install ST 2nd Display within /*NAME* Port 91
Edit HTML so Image clicked goes back to Root.

Strip HTML if needed for clean installation no Menus etc.
Make Image 95% Width.

Apache Server Takes Load away from Memory o

[2019-09-25 08:28] Alexv15310 commented on #24
Yes, of course! It’s very interesting
 

—
You are receiving this because you commented.
Reply to this email directly,  view it on GitHub , or  mute the thread .  
 
--
Александр Васильев
 

[2020-03-30 18:48] baiger opened #32 "Screen resolution incorrect with high DPI scaling"
Hi! I very much appreciate your project. Here's a minor problem when I was running it on my Surface Pro: with DPI scaling, the app is getting a scaled resolution instead of the true one and therefore captures only a part of the screen.

The solution is to add <dpiAware> settings to app.manifest. I have tried the snippet included in the following StackOverflow thread with success:
https://stackover

[2020-04-17 06:11] gacoll commented on #24
I would say that a big advantage of this software is that it is small, quick and easy to use. When people ask for too much, they are probably expecting you to give them a replacement for large scale, expensive software like Teamviewer. The advantage you currently have is great. However, I have a request if I may, which is that when it opens, if it can open to full screen instantly. Currently you h

[2020-08-12 07:23] Webdiyer opened #33 "Huge memory leak when capture mouse pointer!"
Memory could reach over 1 GB within a few seconds and keep increasing if Capture Mouse Pointer checkbox is checked!

[2020-08-16 11:51] #27 closed

[2020-09-08 00:23] arefathi commented on #5
Hello there guys, pretty awesome tool you got here. I just came across it and really useful app.
What I wanted to ask is that is it possible to only share a certain screen from different explorers I have running rather than sharing the screen I am currently on. I saw it raised as an issue and tried out the updated version. It only shows me screen - DISPLAY1, though I have got multiple screens open

[2020-10-27 19:05] JustAwesomeDanny commented on #30
It's just a small app written in c#, it's very simple.

[2020-11-28 16:15] lijinshang commented on #33
This bug has been fixed and the solution has been submitted to the author, but it seems that the author has not updated it for a long time. You can get the repaired software here:

https://github.com/lijinshang/ScreenTask

[2020-11-28 16:15] lijinshang commented on #12
This bug has been fixed and the solution has been submitted to the author, but it seems that the author has not updated it for a long time. You can get the repaired software here:

https://github.com/lijinshang/ScreenTask

[2020-11-28 16:19] EslaMx7 commented on #33
@lijinshang Thank you very much, I will look into it and merge shortly.

[2020-12-28 13:58] Emafire003 opened #38 "Trojan detected"
Hi, i was going to try this out in order to stream my desktop to my phone, but when I downloaded the new version my antivirus detected it as a trojan malware (Trojan:Win32/Wacatac.D7!ml). So I wanted to know why it does that and let you know in order to fix it.

Also, side question, i tried the first version before, and i was curios to know how i could increase the FPS rate, or the rate at which i

[2020-12-28 14:32] EslaMx7 commented on #38
Hi @Emafire003

Thank you for your feedback, I really appreciate it.

I have scanned the extracted binary on VirusTotal:
https://www.virustotal.com/gui/file/83ed1815529141e7d86ffcbc3ebe6b1a7f0d8c5f63e453d957970961f0c58295/detection
and it's clear!

Can you please provide your `VirusTotal` results, or more info about your AntiVirus so I can check it myself?
It could be a false positive warning, bec

[2020-12-29 11:59] Emafire003 commented on #38
https://www.virustotal.com/gui/file/7ccf8ba313bdd7995f7b755972c226b038227dd25556388c6cb828ae0b2a7836/detection
It detects it as a malware even here.

My anitvirus is simply Windows Defender so idk.

[2021-01-08 04:02] MaxiKittyw commented on #38
@Emafire003 I've looked around and doubled checked and there does not appear to be anything malicious in the code. It's strange that virus total is saying that it detects it, make sure you have the latest version downloaded. My windows defender doesn't pick up anything when I scanned the file with it.
I've rebuilt the exe from the repos and here are the results from my end. https://www.virustotal.

[2021-01-08 09:59] Emafire003 commented on #38
Uhm i just downloaded the exe, i didn't build it from scratch yet, and it still detects it as a malware. That's weird. (downloaded using https://github.com/EslaMx7/ScreenTask/releases/download/v1.1/ScreenTask.v1.1.exe). (I'm not saying this program is a malware, just letting know that it can be detected as one)

[2021-01-08 10:25] MaxiKittyw commented on #38
@Emafire003 Ahhh I see, that's very strange. Unless it's using a different source than the one uploaded to github I wouldn't honestly know. Very strange indeed.

[2021-01-08 15:58] EslaMx7 commented on #38
@Emafire003 @MaxiKittyw that's very strange for me too, I will do another release this weekend this should change the executable file signature for `VirusTotal`, I hope we can get clean results for everyone.

[2021-01-08 23:36] MaxiKittyw opened #39 "Screentasking over the internet."
Hey! Is it still possible to screentask over the internet with this? I've uncommented the line which would be 131 for me which says it should allow people to use my public ip. I'd assume if there's nothing else to do the ip would be something along the line of http://[public ip]:7070/
I've port forwarded the port 7070 with tcp which should be correct.
Thanks in advance :D

[2021-01-10 00:52] starlyth commented on #38
I hope I'm helping, as this is only the second time I've actually tried something like this. I tried to build the Git in Visual Studio 2019. The issue seems to be frmMain.resx

It states: "Couldn't process file frmMain.resx due to its being in the Internet or Restricted zone or having the mark of the web on the file. Remove the mark of the web if you want to process these files."

[2021-01-10 02:12] MaxiKittyw commented on #38
@starlyth That error simply caused because you downloaded the files from the internet zone. Normally caused when you download files from the internet, either separately or inside a .zip file or similar. You should just be able to right-click it from windows explorer and there should be an option that says unblock. That's normally an issue on your end because of the way you downloaded the files, if

[2021-01-10 02:28] starlyth commented on #38
Yeah. I figured that out. I should have looked up the error before posting. Once I set the zip as unblocked, decompressed that file, and complied from there, there were no issues. I was able to successfully compile and run ScreenTask after that was done.

[2021-02-02 21:26] HamzaFouad commented on #38
my windows defender also detected `Trojan:Win32/Woreflint.A!cl`

[2021-02-15 08:43] aschoppy commented on #38
It is the same with my file I just downloaded and send to virustotal and also Trojan.Win32.Save.a , W32/Trojan.SIDZ-2188  was detected. May you have an idea ?

[2021-04-09 10:36] vxhienvn opened #40 "help me config Sreen Task for auto full sreen."
Dear all
Can help me configure screentask so that when accessing the sharing screen it automatically runs in fullsreen mode?
thanks all.
I have tried hard to configuge, but failer :'(

[2021-04-22 01:38] Azroys opened #41 "Audio?"
Hi Eslam，i like this program and i need screen with audio.hope to have this function, thank you very much.

[2021-05-17 03:00] 763362913 opened #42 "HttpListener exceptions will occur when more than 6 simultaneous accesses"

[2021-05-28 17:57] PremChoi commented on #42
I wonder if I am having the same issue. No errors in the application, but if more than a small number of simultaneous connections to the server are made the refresh rate slows down to nothing. it starts at 500ms and gradually degenerate to a refresh every minute or more. how do the listener exceptions manifest?

[2021-06-07 06:44] malimaliao opened #43 "Add multi language support"
I hope the new version can add language support, such as using Lang_ Config.ini (using UTF-8) to customize language configuration to support more languages.

[2021-06-10 03:29] #40 closed

[2021-07-24 02:48] JonatasAmaral opened #44 "Give screen capture options"
Hi, this one is was a nice found, so first of all, thanks for that

So, i think that the image compression is too aggressive, so a option to image quality would be a good addition. Taking the traditional way of a 0-100 slider (10 by 10 steps being fine)
Also, the image format selection could also be a benefit in this quality/(performance | resources) balancing. With the major need being make it a

[2021-07-24 11:30] EslaMx7 commented on #44
Hi @JonatasAmaral

Thanks for your feedback and your great suggestions, I do my best to get them done in the next release.

[2021-07-24 19:23] JonatasAmaral opened #45 "Server don't load SVG images"
Trying to do a little UI change, to make it minimal, and getting more focus on the screen capture itself, and configs made available by overlay icons
But trying set SVG images (both on img tag's src prop, and CSS background-image) does not load the imagens

Opening the index.html file over file:// protocol does show the icons up, but this is not a good process, and also the image update is a lot l

[2021-12-29 16:02] wf-soft opened #46 "How to share a screen without a display device"
When the device without display is disconnected from the remote, the program will be stuck

[2021-12-29 16:05] wf-soft commented on #46
@EslaMx7 Are there any solutions

[2022-02-13 05:04] cr500 opened #47 "Screen Capture - Webcam/virtual obs cam , or NDI Network Source?"
Be nice to capture webcam output or virtual webcam OBS, then i dont need to ahve a 2nd monitor just to display what i want to capture.

[2022-02-21 17:55] dbnovice opened #48 "Using 2 screens"
Tried to use Powerpoint in presenter view, with Display 2 to be shared. Screen Task offers either screen, but always sends screen 1 even when screen 2 is selected.
What am I doing wrong?

[2022-02-22 08:28] EslaMx7 commented on #48
@dbnovice this is a bug, we will release a fix for it, for now, you must select the checkbox for `Show Mouse Pointer` in order to make the app respect the selected screen.

[2022-02-22 10:23] EslaMx7 commented on #48
fixed in [v1.2](https://github.com/EslaMx7/ScreenTask/releases/tag/v1.2)

[2022-02-22 10:23] #48 closed

[2022-02-22 10:23] EslaMx7 commented on #45
fixed in [v1.2](https://github.com/EslaMx7/ScreenTask/releases/tag/v1.2)

[2022-02-22 10:23] #45 closed

[2022-02-22 10:23] EslaMx7 commented on #44
fixed in [v1.2](https://github.com/EslaMx7/ScreenTask/releases/tag/v1.2)

[2022-02-22 10:23] #44 closed

[2022-02-22 11:06] dbnovice commented on #48
Many thanks,  v1.2 is great. The choice of which display is shared is a great feature.

-----Original Message-----
From: Eslam Hamouda ***@***.***>
To: EslaMx7/ScreenTask ***@***.***>
CC: dbnovice ***@***.***>; Mention ***@***.***>
Sent: Tue, 22 Feb 2022 10:23
Subject: Re: [EslaMx7/ScreenTask] Using 2 screens (Issue #48)

fixed in v1.2—
Reply to this email directly, view it on GitHub, or unsubscri

[2022-02-22 13:23] ElBedeawi commented on #38
Virus Total check for the latest release [v1.2](https://github.com/EslaMx7/ScreenTask/releases/tag/v1.2) seems to be fine now

https://www.virustotal.com/gui/url/2c505b4572016accd7436c2d1082bfc8cfb1e5bb321f1d16cc5359cdcda88569?nocache=1
![image](https://user-images.githubusercontent.com/1478503/155140860-559e1147-e115-442b-bdf4-5e77013790cd.png)

[2022-02-22 13:23] #38 closed

[2022-02-22 14:09] EslaMx7 commented on #24
📢 [v1.2](https://github.com/EslaMx7/ScreenTask/releases/tag/v1.2) Released! 🔥🔥🔥

[2022-02-22 16:20] ElBedeawi commented on #30
it's a light screen sharing app.

[2022-02-22 16:20] #30 closed

[2022-02-22 16:21] ElBedeawi commented on #29
Kindly try the latest version and ping us if the problem still exists [v1.2](https://github.com/EslaMx7/ScreenTask/releases/tag/v1.2)

[!["Buy Me A Coffee"](https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png)](https://www.buymeacoffee.com/eslamx7)

[2022-02-22 16:21] #29 closed

[2022-02-22 16:28] ElBedeawi commented on #28
This version handle selecting the display without 'Capture Mouse Pointer' selected [v1.2](https://github.com/EslaMx7/ScreenTask/releases/tag/v1.2), Also it's better performance wise

[!["Buy Me A Coffee"](https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png)](https://www.buymeacoffee.com/eslamx7)

[2022-02-22 16:33] #17 closed

[2022-02-22 16:34] ElBedeawi commented on #9
Fixed in latest versions [v1.2](https://github.com/EslaMx7/ScreenTask/releases/tag/v1.2)

[!["Buy Me A Coffee"](https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png)](https://www.buymeacoffee.com/eslamx7)

[2022-02-22 16:34] #9 closed

[2022-02-22 19:03] #1 closed

[2022-02-23 07:23] EslaMx7 commented on #3
fixed in [v1.2](https://github.com/EslaMx7/ScreenTask/releases/tag/v1.2)

[2022-02-23 07:23] #3 closed

[2022-02-24 07:25] ElBedeawi commented on #42
![image](https://user-images.githubusercontent.com/1478503/155477412-27158c41-c3f1-4482-ae6c-2500c4c8a9da.png)

I checked 8 viewer for like 5 minutes without any issues , can you check the latest version [v1.2](https://github.com/EslaMx7/ScreenTask/releases/tag/v1.2)

[!["Buy Me A Coffee"](https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png)](https://www.buymeacoffee.com/eslamx7)

[2022-02-24 07:29] ElBedeawi commented on #31
fixed will be included in v1.3

[2022-02-24 07:34] ElBedeawi commented on #26
you can update the refresh interval from these 2 places
![image](https://user-images.githubusercontent.com/1478503/155478941-cd2d039b-a11c-4af4-9b1c-ebc611bff67c.png)

Make sure you have the latest version [v1.2](https://github.com/EslaMx7/ScreenTask/releases/tag/v1.2)

[!["Buy Me A Coffee"](https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png)](https://www.buymeacoffee.com/eslamx7

[2022-02-24 07:34] #26 closed

[2022-02-26 08:48] ElBedeawi commented on #39
feature added in UI 8e8267ff81fc9c8910c779a05ebb4a228c17f890

[2022-02-26 08:49] ElBedeawi commented on #21
feature added in UI 8e8267ff81fc9c8910c779a05ebb4a228c17f890

[2022-02-26 08:58] ElBedeawi commented on #4
fixed in [v1.2](https://github.com/EslaMx7/ScreenTask/releases/tag/v1.2)

[2022-02-26 08:58] #4 closed

[2022-02-26 08:58] ElBedeawi commented on #6
Updated the Client UI with Bootstrap 5 and some UI enhancements, will be released in v1.3

[2022-02-26 09:00] ElBedeawi commented on #7
@Tendoncs a lot of users requires the port to stay open, but we can add an option to delete ports on exit.

[2022-02-26 09:07] ElBedeawi commented on #8
@Tendoncs Thanks very much for your list, I'm happy to say we have already implemented some of those like:

1. Config file
2. Quality selection slider

and surely the rest will be put into consideration for next releases.

[2022-03-17 04:59] ziaratban opened #51 "[Privacy] Forgetting to stop the ScreenTask"
One concern is what happens if we forget to stop the `ScreenTask` software after a meet and turn to private information after the meet?

This subject is much more colorful if your theme is dark because the `ScreenTask` icon is not visible in the taskbar.

[2022-04-13 12:09] YuGo007 opened #52 "Open on Full Screen"
Good morning,
thank you very much for creating that project!
I wanna ask if there is any chance when browser loads the http link thats load on full screen mode without clicking the blue button at the bottom ?

Thank you in advance for your response

[2022-05-16 09:35] bigheadghost opened #55 "hang after lock and unlock the server pc"
hit win+l to lock the server pc (named S which is monitored),  the browser on the client pc (named C) shows the lockscreen image of S , which is perfect.
then input password to unlock S
the program hang, the browser on C cannot access the webpage.

[2022-05-20 11:40] EslaMx7 commented on #55
Nice catch! I need to try to replicate it to see what's the root cause of this issue to fix it.
Thanks @bigheadghost  for reporting such an interesting case.

[2022-06-17 16:55] Yerikajc commented on #42
There are no errors in the application, but if more than a small number of simultaneous connections are made to the server, the update rate is reduced to nothing. We are trying to connect more than 8 devices at the same time and even if we reconnect the quality, the server does not work, and even stops working completely. Could you help us?

[2022-06-18 06:05] ElBedeawi commented on #42
@Yerikajc can you please specify the version and the specs for the device running ScreenTask (CPU & RAM) ? also the used configuration for the app so that we can try to replicate your conditions.

[2022-06-18 06:43] Yerikajc commented on #42
@ElBedeawi la versión que estamos utilizando es la 1.2 la ultima versión. La CPU que tienen los dispositivos son Intel® Core™ i5-1145G7 de 11.ª generación (4 núcleos, caché de 8 MB, hasta 4,4 GHz, 15 W), con una RAM DDR4 de 8 GB.
La configuración que estamos utilizando dentro de la aplicación es la siguiente:
- IP con cable no por WIFI
- Port 9090
-Speed 100
Muchas gracias

[2022-06-18 06:44] Yerikajc commented on #42
@ElBedeawi the version we are using is 1.2 the latest version. The CPU that the devices have are Intel® Core™ i5-1145G7 11th generation (4 cores, 8 MB cache, up to 4.4 GHz, 15 W), with 8 GB DDR4 RAM.
The configuration we are using within the application is as follows:
- IP wired not WIFI
- Port 9090
-Speed 100
Thank you very much

[2022-06-18 06:55] ElBedeawi commented on #42
@EslaMx7 don't we have a newer version that supports WebRTC, Can we provide it here to **Yerikajc** may be it will give him a better performance.

[2022-06-18 09:26] Yerikajc commented on #42
@ElBedeawi @EslaMx7 If you could provide it, I would appreciate it.

[2022-06-23 05:52] mchengh commented on #51
Would it possible to have *different tray icon themes* when server is started or any client connected ?

[2022-07-19 08:41] hbrtv opened #56 "remote desktop minimize will pause the process"
After gaining access to  the monitored PC _(screentask's server side)_  through remote desktop _(mstsc.exe)_, then run the screentask.exe , everything goes very well. But when minimizing the remote desktop,the process frozen.

[2022-07-21 04:33] hbrtv commented on #56
sorry,duplicated with [#19](https://github.com/EslaMx7/ScreenTask/issues/19)

[2022-07-21 04:33] #56 closed

[2022-08-14 10:26] awhy1957 commented on #14
hello,  will output device audio streaming be supported?

[2022-11-13 02:43] allestaire opened #57 "Wont work on MacOS (M1)"

[2022-11-22 22:36] RupomChowdhury opened #58 "Not real time and the streaming is freezing also."
Can you fix this. Seems the stream on the ip is very slow/laggy . If possible add desktop+mic sound feature.